body {
    font-family: Arial, sans-serif;
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .container {
    height: auto;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
  }
  
  .flashcard {
    margin-top: 20px;
    height: 70px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-size: 1rem;
    min-height: auto;
  }
  
  button {
      margin-top: 30px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: #cccccc;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
